.shubhMe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.imageOverlayHp {
  position: absolute;
  width: 100%;
  background-image: url("/images/sami.png");
  padding: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
