$primary-color: #124e66;
$secondary-color: #d3d9d4;
$text-color: #2e3944;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;
  color: $secondary-color;

  .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: $secondary-color;
    text-decoration: none;
  }

  .nav {
    .nav-links {
      display: flex;
      gap: 20px;

      li {
        list-style: none;

        a {
          color: $secondary-color;
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s;

          &:hover {
            color: $text-color;
          }
        }
      }
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: $secondary-color;
      margin: 4px 0;
      transition: 0.3s;
    }
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }

    .menu-toggle {
      display: flex;
    }
  }
}
